/* 
text color basic: #000000
text color additional: #212121
text color highlighted blue:  #2196F3

background head: #FFFFFF
background dark section:  #2F303A 
background light section: #E5E5E5
background grey section:  #F5F4FA


text for employeer name, section heads   color: #212121
text for employeer position, paragraph  :  color: #757575;


grey text footer  color: rgba(255, 255, 255, 0.6)
*/
:root {
  --basic-blue-color: #2196f3;
  --text-common-light-color: #757575;
  --text-headder-dark-color: #212121;
  --text-white-color: #ffffff;
  --text-black-color: #000000;
  --background-main-color: #ffffff;
  --background-medium-color: #f5f4fa;
  --background-dark-color: #2f303a;
  --sotials-inactive-color: #afb1b8;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 1600px;
  color: var(--text-common-light-color);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  padding-left: 215px;
  padding-right: 215px;

  background: var(--background-main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: 'Raleway', 'Oleo Script', cursive, sans-serif;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192; /* 31px */
  letter-spacing: 0.03em;
  color: var(--basic-blue-color);
}

.logo-accent {
  color: var(--text-black-color);
}

.logo-accent.logo-inverse {
  color: var(--text-white-color);
}

/* Container main-nav in header */
.container-nav-main {
  display: flex;
  align-items: center;
}

.address-main {
  display: flex;
  margin-left: auto;
}

.nav-main {
  display: flex;
  margin-left: 93px;
}

.top-contacts {
  display: flex;
  margin-left: auto;
}

/* for experiments */
.nav-main > li + li {
  margin-left: 50px;
}

/* .nav-main > li:last-child {
  margin-right: 0px;
} */

.top-contacts > li + li {
  margin-left: 50px;
}

/* .top-contacts > li:last-child {
  margin-right: 0px;
} */

.nav-main a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  /* margin-bottom: 3px; */

  color: var(--text-headder-dark-color);
}

.top-contacts a {
  color: var(--text-common-light-color);
}

.nav-main .is-current,
.nav-main a:hover,
.nav-main a:active,
.nav-main a:focus,
.top-contacts a:hover,
.top-contacts a:active,
.top-contacts a:focus {
  color: var(--basic-blue-color);
}

/* Pseudoelement expiriments*/
/* .nav-main a:hover::after {
  display: block;
  content: '';
  width: inherit;
  height: 3px;
  background: var(--basic-blue-color);
} */

.top-contacts .link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-main a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.top-contacts .svg-item {
  display: block;
  margin-right: 10px;
  max-width: 16px;
  max-height: 16px;
  fill: currentColor;
}

.order-now {
  /* background: var(--background-dark-color); */

  /* background: linear-gradient(#e66465 30%, #9198e5 90%); */
  background: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mg_background_hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  letter-spacing: 0.06em;
}

.order-now h1 {
  margin-bottom: 30px;
  padding-top: 200px;
  padding-left: 452px;
  padding-right: 452px;
  margin-block-start: 0px;

  color: var(--text-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order-now div {
  padding-bottom: 200px;
}

.order-now-button a {
  display: inline-block;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: var(--basic-blue-color);
  color: var(--text-white-color);
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
}

.our-advantages-cards-list .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background: var(--background-medium-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.our-advantages-cards-list .icon {
  display: block;
  width: 70px;
  height: 70px;
  fill: var(--sotials-inactive-color);
}

.our-advantages-cards,
.section-what-we-do {
  background-color: var(--background-main-color);
}

.our-advantages-cards h3 {
  color: var(--text-headder-dark-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14; /* 16px */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
}

.our-advantages-cards p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71; /* 24px */
  letter-spacing: 0.03em;
  text-align: left;
}

/* placement for advantage cards */
.our-advantages-cards-list {
  display: flex;
  margin-top: 94px;
  padding-left: 215px;
  padding-right: 215px;
}

.our-advantages-cards-list .item:not(:last-child) {
  margin-right: 30px;
}

.our-advantages-cards-list .item {
  width: 270px;
}

.our-advantages-cards-list h3 {
  margin-bottom: 10px;
}

/* placment of what we do section */
.section-what-we-do {
  padding-bottom: 94px;
}

.section-what-we-do h2 {
  margin-top: 94px;
  margin-bottom: 50px;
}

.section-what-we-do-list {
  display: flex;
  padding-left: 215px;
  padding-right: 215px;
}

.section-what-we-do-list .item:not(:last-child) {
  margin-right: 30px;
}

.section-what-we-do-list img {
  display: block;
}

.section-what-we-do h2,
.section-our-team h2 {
  color: var(--text-headder-dark-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-our-team {
  padding-bottom: 94px;

  background: var(--background-medium-color);
}

.section-our-team h2 {
  padding-top: 94px;
  margin-bottom: 50px;
}

.section-our-team-list {
  display: flex;
  padding-left: 215px;
  padding-right: 215px;
}

.section-our-team-list .item:not(:last-child) {
  margin-right: 30px;
}

.section-our-team-list img {
  display: block;
}

.section-our-team-list .item {
  width: 270px;

  background: var(--background-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.section-our-team-list h3 {
  padding-top: 30px;
  padding-bottom: 10px;

  color: var(--text-headder-dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-our-team-list p {
  padding-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.ellipse .icon {
  display: block;

  width: 20px;
  height: 20px;
  fill: inherit;
}

.sotial-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sotial-cards {
  padding-bottom: 30px;
}

.sotial-cards .ellipse {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--sotials-inactive-color);
}

.sotial-cards > .ellipse:not(:last-child) {
  margin-right: 10px;
}

.list .ellipse:hover,
.list .ellipse:focus {
  fill: var(--text-white-color);
  background-color: var(--basic-blue-color);
}

.section.our-clients h2 {
  padding-top: 94px;
  padding-bottom: 50px;

  color: var(--text-headder-dark-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section .our-clients {
  display: flex;
  justify-content: center;

  padding-bottom: 94px;
}

.our-clients .item:not(:last-child) {
  margin-right: 30px;
}

.our-clients .card {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  border: 1px solid var(--sotials-inactive-color);
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--sotials-inactive-color);
}

.our-clients .card:hover,
.our-clients .card:focus {
  fill: var(--basic-blue-color);
  border: 1px solid var(--basic-blue-color);
}

.our-clients.list .icon {
  width: 60px;
  height: 60px;
}

.main-footer {
  display: flex;
  align-items: baseline;
  background: var(--background-dark-color);
}

.main-footer .logo {
  display: block;
  padding-top: 60px;
  padding-bottom: 20px;
  margin-left: 215px;
}

.main-footer-contact-list {
  margin-left: 215px;
  padding-bottom: 60px;
}

.main-footer-contact-list > .item {
  padding-bottom: 10px;
}

.main-footer-contact-list > item:last-child {
  padding-bottom: 0px;
}

.main-footer-contact-list a {
  display: block;

  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.main-footer-contact-list .map {
  color: var(--text-white-color);
}

/* ================ПОРТФОЛИО============ */

.section-portfolio {
  background: var(--background-main-color);
}

/* for experiments */
.nav-main-portfolio > li + li {
  margin-left: 50px;
}

.section-portfolio {
  padding-top: 94px;
  margin-left: 215px;
  margin-right: 215px;
}

/* filter buttons in main */
.portfolio-nav {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
  margin-bottom: 34px;
}

.portfolio-nav .filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-nav .item {
  display: block;
  height: 38px;
  padding-left: 22px;
  padding-right: 22px;

  color: var(--text-headder-dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: 0px;

  background: var(--background-medium-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  /* text-align: center; */
}

.portfolio-nav .item:hover,
.portfolio-nav .item:active,
.portfolio-nav .item:focus {
  background: var(--basic-blue-color);
  color: var(--text-white-color);
}

.nav-main-portfolio a.is-current {
  color: var(--basic-blue-color);
}

.portfolio-cards {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-bottom: 94px;
}

.portfolio-cards img {
  display: block;
}

.portfolio-cards .item:hover,
.portfolio-cards .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-cards .item {
  width: 370px;
  margin-bottom: 30px;
}

.portfolio-cards .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-cards .item:not(-n + 3) {
  margin-bottom: 30px;
}

.portfolio-cards .item-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-cards h2 {
  color: var(--text-headder-dark-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-cards p {
  display: block;
  padding-top: 4px;

  color: var(--text-common-light-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.main-footer .basic-contacts {
  padding-right: 40px;
}

.footer-hero em {
  display: block;
  padding-bottom: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white-color);
}

.ellipse.footer {
  background-color: rgba(255, 255, 255, 0.1);
}
